@import "tailwindcss";

body {
  font-family: Arial, Helvetica, sans-serif;
}

.container {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
}

h1 {
  text-align: center;
  font-size: 24px;
}

ul {
  list-style: none;
  padding: 0;
}

li {
  margin-bottom: 10px;
  padding: 10px;
  background-color: #f2f2f2;
  border-radius: 5px;
}

.form-container {
  margin-top: 20px;
}

.form-container h2 {
  font-size: 20px;
  margin-bottom: 10px;
}

.form-container label {
  display: block;
  margin-bottom: 5px;
}

.form-container input,
.form-container textarea {
  display: block;
  width: 90%;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 3px;
  margin-bottom: 10px;
}

.form-container button {
  background-color: #4caf50;
  color: #fff;
  border: none;
  padding: 5px 10px;
  border-radius: 3px;
  cursor: pointer;
  margin-bottom: 10px;
}

.edit-form-container {
  margin-top: 20px;
  border: 1px solid #ccc;
  padding: 10px;
  background-color: #f9f9f9;
  width: 100%;
  box-sizing: border-box;
}

.edit-form-container h3 {
  font-size: 18px;
  margin-bottom: 10px;
}

.edit-form-container label {
  display: block;
  margin-bottom: 5px;
}

.edit-form-container input,
.edit-form-container textarea {
  display: block;
  width: 90%;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 3px;
  margin-bottom: 10px;
}

.edit-form-container button {
  background-color: #2196f3;
  color: #fff;
  border: none;
  padding: 5px 10px;
  border-radius: 3px;
  cursor: pointer;
}

.edit-button {
  background-color: #2196f3;
  color: #fff;
  border: none;
  padding: 1px 10px;
  border-radius: 3px;
  cursor: pointer;
}

.delete-button {
  background-color: #f44336;
  color: #fff;
  border: none;
  padding: 1px 10px;
  border-radius: 3px;
  cursor: pointer;
}

.todo-item {
  margin-bottom: 10px;
  padding-bottom: 10px;
  border-bottom: 1px solid #ccc;
}

.todo-item-buttons {
  margin-top: 5px;
  display: flex;
  gap: 10px;
}
