services:
  db:
    image: postgres:15
    env_file:
      - backend/.env
    ports:
      - "5432:5432"
    volumes:
      - db_data:/var/lib/postgresql/data

  backend:
    build:
      context: ./backend
      dockerfile: Dockerfile.dev
    volumes:
      - ./backend:/app
    ports:
      - "3001:3000"
    env_file:
      - backend/.env
    depends_on:
      - db
    command: bash -c "bundle exec rails db:prepare && rm -f tmp/pids/server.pid && bundle exec rails server -b 0.0.0.0 -p 3000"

  frontend:
    build:
      context: ./frontend
      dockerfile: Dockerfile.dev
    volumes:
      - ./frontend:/app
    ports:
      - "3000:3000"
    env_file:
      - backend/.env
    depends_on:
      - backend
    command: npm run dev

volumes:
  db_data:
